* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif
}

.hero-right img {
  width: 500px;
  height: auto;
}

.container1 {
  background-color: #1F2937;
  padding: 1rem 12rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar h1 {
  font-size: 24px;
  color: #F9FAF8;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.navbar ul {
  display: flex;
  gap: 1.5rem;
}

.container1 .hero {
  margin: 5rem 0;
  display: flex;
  gap: 1rem;
}

.hero-left h1{
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.hero-left p {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-left button {
  background-color: #3882F6;
  margin: 1rem 0;
  width: 10rem;
  height: 3rem;
  font-size: large;
  font-weight: bold;
  color: #E5E7EB;
  border-radius: 10px;
  border: #3882F6;
}

.container2 {
  padding: 2rem 12rem; 
}
.container2 .top {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  text-align: center;
}

.pic-text img {
  height: 150px;
  width: 150px;
  border-radius: 10px;
}

.sub-container2 {
  display: flex;
  margin: 3rem 5rem 5rem 5rem;
  gap: 1rem;
  text-align: center;
  color: #1F2937;
}

.container3 {
  padding: 7rem 20rem;
  background-color: #E5E7EB;
}

.container3 .firstp{
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1F2937;
}

.container3 .secondp {
  text-align: right;
  font-size: 24px;
  font-weight: bold;
  margin-top: 5px;
}

.container4 {
  padding: 5rem 12rem;
}

.container4 .sub-container4 {
  background-color: #3882F6;
  display: flex;
  justify-content: space-around;
  padding: 3rem 0;
  border-radius: 15px;
}

.action h3 {
  color: #F9FAF8;
  font-size: 24px;
}

.action p {
 color: #E5E7EB; 
}

.container4 button {
  background-color: #3882F6;
  width: 8rem;
  height: 2rem;
  font-size: large;
  font-weight: bold;
  color: #F9FAF8;
  border-radius: 10px;
  border-color: #F9FAF8;
}

footer {
  background-color: #1F2937;
  padding: 2.5rem 5rem;
  text-align: center;
  color: #F9FAF8;
  font-size: 18px;
}